### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

### Logs ###
logs/
*.log

### Java ###
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

### Spring Boot ###
application-*.yml
application-*.yaml
application-*.properties
!application.properties   # keep default if needed

### IntelliJ IDEA ###
.idea/
*.iml
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### VS Code ###
.vscode/

### OS / Misc ###
.DS_Store
Thumbs.db

### Test Reports ###
surefire-reports/
test-output/
